* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

/* Body */
body {
  background-color: var(--Off-white);
  font-family: 'Inter', sans-serif;
  padding: 15px;
  overflow-x: hidden;
}

/* Logo Header */
.site-nav {
  display: flex;
  justify-content: space-between;
}

.nav-mobile#show {
  background: hsla(240, 100%, 5%, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-mobile#show ul {
  background-color: var(--Off-white);
  height: 100%;
  width: 65%;
  position: absolute;
  left: 35%;
  padding: 20px;
}

.nav-mobile#hide {
  display: none;
}

ul {
  list-style: none;
}

.nav-mobile#show .list-item {
  padding-top: 90px;
}

.nav-mobile#show li {
  margin-top: 30px;
}

.icon-menu-close {
  position: absolute;
  right: 15px;
}

.show-nav-desktop {
  display: none;
}

.site-nav li:hover {
  cursor: pointer;
  color: var(--Soft-red);
}

.icon-menu {
  object-fit: contain;
}

/* About Section */

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

.about-section {
  margin: 30px 0 50px;
}

.desktop-image {
  display: none;
}

.mobile-image {
  grid-column: 1/9;
}

.mobile-image img {
  width: 100%;
}

.title {
  grid-column: 1/9;
}
.title-text {
  grid-column: 1/9;
}

/* header */
h1 {
  font-size: 44px;
  font-weight: 800;
  color: var(--Very-dark-blue);
}

.title-text p {
  color: var(--Dark-grayish-blue);
}

.title-text button {
  background-color: var(--Soft-red);
  font-weight: 700;
  color: var(--Off-white);
  margin-top: 30px;
  width: 50%;
  padding: 15px;
  border: none;
  letter-spacing: 2px;
}

.title-text button:hover {
  cursor: pointer;
  color: var(--Off-white);
  background-color: var(--Very-dark-blue);
}

.part-two {
  background-color: var(--Very-dark-blue);
  padding: 22px;
  margin-bottom: 50px;
  grid-column: 1/9;
}

.part-two h2 {
  color: var(--Soft-orange);
  padding-bottom: 25px;
}

.part-two .news {
  grid-column: 1/9;
}

.part-two h3 {
  color: var(--Off-white);
  font-size: 22px;
}

.part-two h3:hover {
  cursor: pointer;
  color: var(--Soft-orange);
}

.part-two p {
  color: var(--Grayish-blue);
  font-size: 15px;
  padding-top: 5px;
  line-height: 1.5rem;
}

.part-two hr {
  margin: 10px 0;
}

/* Footer Section */

.footer-one,
.footer-two,
.footer-three {
  display: flex;
  margin-bottom: 25px;
}

.footer-image img {
  width: 100px;
  margin-right: 20px;
  object-fit: cover;
}

.footer-section span {
  font-size: 24px;
  font-weight: 700;
  color: var(--Grayish-blue);
}

.footer-section h4 {
  color: var(--Very-dark-blue);
  font-size: 20px;
  margin: 11px 0;
}

.footer-section h4:hover {
  cursor: pointer;
  color: var(--Soft-orange);
}

.footer-section p {
  font-size: 16px;
  line-height: 1.5rem;
  color: var(--Dark-grayish-blue);
}

@media (min-width: 700px) {
  body {
    height: 100vh;
    padding: 50px 30px;
  }

  .nav-mobile#show {
    display: none;
  }

  .site-nav {
    display: flex;
    justify-content: space-between;
  }

  .show-nav-desktop {
    display: flex;
    list-style: none;
  }

  .site-nav li {
    margin-left: 30px;
  }

  .icon-menu {
    display: none;
  }

  .mobile-image {
    display: block;
    grid-column: 1/5;
    width: 100%;
  }

  .desktop-image img {
    width: 100%;
  }

  .part-two {
    grid-column: 5/9;
    grid-row: 1/4;
    padding: 45px;
    margin-bottom: 0;
  }

  .title {
    grid-column: 1/5;
    grid-row: 2;
  }

  .title-text {
    grid-column: 1/5;
  }
}

@media (min-width: 1050px) {
  body {
    height: 100vh;
    padding: 50px 100px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  /* About section */
  .mobile-image {
    display: none;
  }

  .desktop-image {
    display: block;
    grid-column: 1/3;
  }

  .news {
    margin-top: 20px;
  }

  .title {
    grid-column: 1/2;
    grid-row: 2;
  }
  .title-text {
    grid-column: 2/3;
  }

  .part-two {
    grid-column: 3/4;
    grid-row: 1/3;
    padding: 20px;
  }

  .part-two h2 {
    padding-bottom: 15px;
  }

  .part-two h3 {
    font-size: 17px;
  }

  .part-two p {
    font-size: 14px;
  }

  .footer-section {
    display: flex;
    margin-top: 70px;
  }

  .footer-image img {
    height: 100%;
  }

  .footer-section h4 {
    font-size: 17px;
  }

  .footer-section p {
    font-size: 14px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
